
/* Global CSS  */
* {
     margin: 0px;
     font-family: 'Poppins', sans-serif;
}

.default-btn-design {
     padding: 10px 20px;
     border-radius: 5px;
     color: #fff;
     background-color: #FF5959;
     margin-top: 30px;
     font-size: 16px;
     border: 0;
}

.hr-design {
     width: 42%;
     margin: auto;
     border: 0;
     border-bottom: 2px solid #e4e3e3;
     margin-top: 10px;
}

/* Global CSS  end*/
/* header area start  */
.donate-now {
     width: 100%;
     height: 100vh;
     position: relative;
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.6811099439775911) 0%, rgba(0, 0, 8, 0.5186449579831933) 28%, rgba(0, 212, 255, 0) 100%), url("../images/donation1.jpg") no-repeat center center / cover;
}

.donate-now-text {
     width: 55%;
     height: 100%;
     margin: auto;
     text-align: center;
     color: #fff;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
}

.donate-now-text h1 {
     font-size: 55px;
     margin-bottom: 20px;
}

.donate-now-text p {
     font-size: 22px;
     font-weight: 100;
}

/* header-area end  */

/* donate today start  */
.donate-today {
     margin-top: 100px;
     text-align: center;
}

.donate-today-text h2 {
     font-size: 35px;
     margin-bottom: 10px;
}

/* .donate-pricing-area {} */

.donate-pricing {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 20px;
}

.donate-pricing h3 {
     width: 100px;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 20px;
     background-color: #FAFAFA;
     /* border: 1px solid; */
     border-radius: 4px;
     font-size: 30px;
}

.donate-pricing :nth-child(2) {
     border: 1px solid #FF5959;
     background-color: #FFEEEE;
     color: #FF5959;
}

.donate-pricing :first-child {
     margin-left: 0;
}

.donate-pricing :last-child {
     margin-right: 0;
}



/* donate today end  */

/* donate plan start  */

.donate-plan-area {
     margin-top: 100px;
     text-align: center;
}

.donate-plan-text {
     margin-bottom: 40px;

}

.donate-plan-text h2 {
     font-size: 35px;
     margin-bottom: 10px;
}

/* donate separate  */
.donate-separate-area {
     width: 90%;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
}

.separate {
     width: 260px;
     height: 260px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     /* border :1px solid; */
     text-align: left;
     /* width: 30%; */
     border-radius: 5px;
     padding: 20px 20px;
     margin: 0 15px;
}

.separate h4 {
     font-size: 20px;
     margin-bottom: 20px;
}

.separate p {
     font-size: 14px;
}

.donate-separate-area>:first-child {
     background-color: rgba(79, 157, 166, 0.1);
}

.donate-separate-area>:nth-child(2) {
     background-color: rgba(255, 89, 89, 0.1);
}

.donate-separate-area>:last-child {
     background-color: #FFF4D6;
}

/* donate plan end */

/* Contribute area  */
.contribute-area {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: 100px 0;
}




.contribute {
     width: 68%;
     display: flex;

     align-items: center;

     margin: 20px 0;

}

.contribute-text {
     width: 50%;

}

.first .contribute-text {
     margin-right: 50px;
}

.secund .contribute-text {
     margin-left: 50px;
}

.contribute-text h3 {
     font-size: 35px;
     margin-bottom: 20px;
}

.contribute-img {

     margin: auto;
}

.contribute img {
     width: 400px;
     border-radius: 10px;
}

/* Contribute area end */

/* updates area  */
.updates-text h3 {
     font-size: 35px;
     margin-bottom: 20px;
}

.updates-text {
     margin: auto;
     text-align: center;
     width: 35%;
     margin-bottom: 50px;

}

.input-area {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 700px;
     height: 170px;
     margin: auto;
     background-color: #FFF4D6;
     margin-bottom: 100px;
}

.search-input {
     display: flex;
     align-items: flex-end;
     justify-content: center;
     margin: 0;
}

.search-input input[type=text] {
     border: 0;
     padding: 12px 0;
}

.search-input input[type=button] {
     border-radius: 0;
     margin-left: -5px;
}

/* updates area end */

/* footer area  */

.footer-area {
     height: 180px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #000;
     text-align: center;
}

.footer-area h3 {
     color: #FF5959;
     margin-bottom: 40px;
}

.footer-area small {
     color: #fff;
}

/* footer area end */